<div class="list-item">
    <h2 class="list-post-title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="meta">
        {% assign i = post.artists | size %}
        {% for artist_id in post.artists %}
            {% include artist-name.html %}
            <a class="artist" href="{{ site.baseurl }}/{{ artist_id }}">{{ artist_name }}</a>
            {% if i > 1 %}
                <span class="separator">/</span>
            {% endif %}
            {% assign i = i | minus: 1 %}
        {% endfor %}
        <time>{{ post.date | date_to_string }}</time>
    </div>
</div>